<div  class= "container employee-form">
    <h1>Edit Employee</h1>

    <%= render 'form', employee: @employee %>

    <div class= "d-flex justify-content-start">
        <%= link_to 'Show', @employee, class: "btn btn-secondary" %>
        <%= link_to 'Back', employees_path, class: "btn btn-secondary mx-4" %>
    </div>
</div>