<div class="checkin-background">
  <div class="container text-center checkin-form">
    <div id="MyClockDisplay" class="clock" onload="showTime()"> </div>
      <%= javascript_pack_tag 'index', 'data-turbolinks-track': 'reload' %>

    <input class="container private-number-input">
      <div class="container checkin-buttons-container">
        <%= button_to "Check-in", employees_path, class: "btn btn-success check-button"  %>
        <%= button_to "Check-out", employees_path, class: "btn btn-danger check-button"  %>
      </div>
    </div>
</div>

