@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,300&display=swap");

.checkin-background {
  align-items: center;
  background-color: #a3eeff;
  display: flex;
  height: 100%;
  width: 100%;
}

.checkin-form {
  align-items: space-around;
  background-color: white;
  border-radius: 5%;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 18px;
  height: 45%;
  justify-content: center;
  width: 50%;
}

.checkin-buttons-container {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding: 2%;
}

.clock {
  color: #17d4fe;
  font-size: 500%;
  font-family: Orbitron;
  letter-spacing: 7px;
  text-shadow: rgba(0, 0, 0, 0.2);
}
.private-number-input {
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 32px;
  font-family: Roboto Mono;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 4px 20px;
  width: 300px;
}
.check-button {
  font-size: 28px;
  height: 50px;
  width: 180px;
}

.centers {
  border: 3px solid green;
  margin: auto;
  padding: 10px;
  width: 50%;
}

.pading-top-15 {
  padding-top: 15%;
}
